<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Bootstrap Table</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">


	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <style type="text/css">
    #page-wrapper {
    padding: 0 2.6%;
    padding-top: 80px;
    padding-right: 2.6%;
    padding-bottom: 0px;
    padding-left: 2.6%;
    position: relative;
	}

  </style>

</head>
<body>
 <div id="page-wrapper">


    <div style="height: 100%;display:flex;">
        <div style="margin-top: 10%"></div>
        <div class="jumbotron" style="border-radius: 10px; padding-left:20px; padding-right:20px">
            <h1>Blood eQTL browser</h1>
            <p class="lead">Browse eQTL results of 7 purified human blood cell types. Explore conditionally independent associations by lead-variant and inspect the association signals in detail. Annotate the results with epigenetic annotation and load your own local files to put the eQTLs into context.</p>
            <p><a class="btn btn-lg btn-primary" href="{{ host_path }}/results">Blood eQTL browser</a></p>
          </div>
        <div style="margin-top: 10%"></div>
    </div>

</div>

</body>
</html>
