
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Blood eQTL browser</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <script src="{{ interfix }}{{ url_for('static', filename='promise.js') }}"></script>
    <script src="{{ interfix }}{{ url_for('static', filename='zlib_and_gzip.js') }}"></script>
    <script src="{{ interfix }}{{ url_for('static', filename='inflate.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ interfix }}{{ url_for('static', filename='igv.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ interfix }}{{ url_for('static', filename='fa-svg-with-js.css') }}"/>
    <script type="text/javascript" src="{{ interfix }}{{ url_for('static', filename='igv.min.js') }}"></script>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.css">
    <script type="text/javascript" src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/bootstrap-table.js"></script>
    <script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/extensions/filter-control/bootstrap-table-filter-control.js"></script>


  <style type="text/css">
    #page-wrapper {
    padding: 0 2.6%;
    padding-top: 50px;
    padding-right: 2.6%;
    padding-bottom: 0px;
    padding-left: 2.6%;
    position: relative;
	}

  </style>

  <script type="text/javascript">
  	window.eqtl_detail_tracks = [];

	$(window).load(function(){
		$(function () {
		});
	    $('#lead_table').on('post-body.bs.table', function (e, data) {
	        //set_header_tt(e.target.getAttribute("id"));
	        $('[data-toggle="tooltip"]').tooltip();
	    });
    });

	////// To highlight individual rows
	function rowStyle(row, index) {
	  if (window.eqtl_detail_tracks.indexOf(row.id) != -1) {
	    return {
	      classes: 'text-nowrap another-class ' + row.cellType + "_ct_tag"
	    };
	  } else {
	    return {};
	  }

	}

    function lead_fn_formatter(value, row, index, field) {
        glyphs = {"glyphicon-search": 'igv_go_to(\'chr'+row.chromosome+'\', '+row.start+')', "glyphicon-plus": 'create_track_by_id(\''+row.id+'\', \''+row.geneSymbol+'\')', "glyphicon-eye-open": 'add_scatter(\''+row.id+'\')', "glyphicon-stats": 'add_hist(\''+row.cellType+'\', \''+row.geneSymbol+'\')'}
        glyph_tooltips = {"glyphicon-search": 'Zoom in genome browser', "glyphicon-plus": 'Add to genome browser', "glyphicon-eye-open": 'Display expression boxplot', "glyphicon-stats": 'Display expression histogram'}
        html_str = "<div>"
        for (gl in glyphs) {
        	if ((gl == 'glyphicon-plus') && (window.eqtl_detail_tracks.indexOf(row.id) != -1)) continue;
            html_str += '<a href="#genome_browser"><span class="glyphicon '+gl+'" aria-hidden="true" onclick="'+glyphs[gl]+'" data-toggle="tooltip" data-placement="bottom" title="'+glyph_tooltips[gl]+'"></span></a> ';
        }
        html_str += "</div>"
        return html_str
    }


   function add_scatter(id) {
        href = "{{ host_path }}/expr_boxplot?id="+id;
        window.open(href);
    }

    function add_hist(cellType, hgnc){
        href = "{{ host_path }}/expr_hist?cellType="+cellType +"&geneSymbol="+hgnc ;
        window.open(href);
    }

    function round_nicely(value, row, index, field){
        if (value) return value.toPrecision(3);
        return value;
    }

    function refresh_table(table_id){
        $('#'+table_id).bootstrapTable('refresh', {silent: true});
        //$('#'+table_id).bootstrapTable('refresh');
    }

    function set_header_tt(table_id){
        ranges_tt =  "Include '>' or '<' to search in ranges";
        header_tooltips = {'beta': ranges_tt, 'pValue': ranges_tt};
        for (df in header_tooltips){
            $('#'+table_id+'.th').find('[data-field="'+df+'"]').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', header_tooltips[df]);
        }
    }




</script>

    <script type="text/javascript">

    igv_eqtl_baseurl = '{{ host_path }}/';
    table_ajax_url = igv_eqtl_baseurl;

    refresh_eqtl_detail_tracks = function(){
    	all_tracks = igv.browser.trackViews;
		var tracks_ids = [];
		all_tracks.forEach(function (trackView) {
		    if (trackView.track instanceof igv.BloodSignalEqtlTrack){
		        if (trackView.track.config.id) {
					tracks_ids.push(trackView.track.config.id);
		        }
		    }
		})
		window.eqtl_detail_tracks = tracks_ids;
		refresh_table('lead_table');
    }


    create_lead_track = function(cellType, dataset){
        igv.browser.loadTrack({
                         type: 'bloodeqtl',
                         sourceType: 'bloodeqtl',
                         url: igv_eqtl_baseurl,
                         dataset: dataset,
                         cellType: cellType,
                         name: cellType + ' blood eQTL data',
                         labelFormatter: track_label_formatter,
                         });
    };


     create_track= function(variant, probeId, fwdIter, cellType, dataset, hgnc, var_chrom="", var_pos=0){
        igv.browser.loadTrack({
                         type: 'bloodsignaleqtl',
                         sourceType: 'bloodsignaleqtl',
                         url: igv_eqtl_baseurl,
                         queryVarId:variant,
                         queryProbeId:probeId,
                         fwdIter:fwdIter,
                         cellType: cellType,
                         name: cellType+': ' + hgnc + '(' + probeId + '): ' + variant,
                         dataset: dataset,
                         id: 'blablabla',
                         });
        if ((var_chrom != "") && (var_pos != 0)){
            igv.browser.goto(var_chrom, var_pos-10000, var_pos+10000);
        }

    };

    create_track_by_id= function(id, hgnc = "", var_chrom="", var_pos=0){
    	// The name generation could be done a bit more elegantly with another query to the server 
    	var id_splits = id.split("_"),
    		cellType = id_splits[2],
    		probeId = id_splits[3],
    		variant = id_splits[4];
        igv.browser.loadTrack({
                         type: 'bloodsignaleqtl',
                         sourceType: 'bloodsignaleqtl',
                         url: igv_eqtl_baseurl,
                         id:id,
                         cellType:cellType,
                         name: cellType+': ' + hgnc + ' (' + probeId + '): ' + variant,
                         labelFormatter: track_label_formatter,
                         });
        if ((var_chrom != "") && (var_pos != 0)){
            igv.browser.goto(var_chrom, var_pos-10000, var_pos+10000);
        }

    };

    igv_go_to = function(var_chrom, var_pos){
    	if ((var_chrom != "") && (var_pos != 0)){
            igv.browser.goto(var_chrom, var_pos-10000, var_pos+10000);
        }
    }


    create_epi_tracks = function(cellType){
        $.getJSON( igv_eqtl_baseurl + 'get_epi_tracks?cellType='+cellType, function( data ) {

            for (i in data){
                igv.browser.loadTrack(data[i]);
            };
          //$.each( data, function( inner_dict ) {
          //  config = {name: inner_dict.name, type: inner_dict.type, height: inner_dict.height, url: inner_dict.url};
          //  igv.browser.loadTrack(config);
          //});
        });

    };

    </script>



    <script type="text/javascript">

    update_table_menu = function(id){
    	menu_item = $("#"+id)
    	target = menu_item.attr("data-target");
    	if ($(target).is(":visible")) {
    		menu_item.html("<span class=\"glyphicon glyphicon-ok\"></span> "+menu_item.attr("text-content"));
    	} else {
    		menu_item.html(menu_item.attr("text-content"));
    	}
    }

    track_label_formatter = function(label_obj, track){
    	label_obj.addClass(track.config.cellType + "_ct_tag")
    }

    $(document).ready(function () {

    	//
    	$(".table_menuitem").click(function(e){
    		menu_item = $("#"+e.target.id)
    		target = menu_item.attr("data-target");
    		if ($(target).is(":visible")) {
    			$(target).hide();
	    	} else {
	    		$(target).show();
	    	}
	    	update_table_menu(e.target.id);
    	})


    	$("#load_file_menu").click(function(e){
    		document.getElementById('filePicker').style.display = "block";
    	});

    	// hide the tested genes table
    	$("#tested_genes_table_cont").hide();

    	// update the menu
    	$(".table_menuitem").each(function(){
    		update_table_menu(this.id);
    	})



        var div,
                options,
                browser;

        div = $("#igv_div")[0];
        options = {
            genome: "hg19",
            showNavigation: true,
            fastaURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta',
            cytobandURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt',
            // locus: 'SLC25A3',
            locus: 'rs28372744',
            // locus: ['egfr', 'myc', 'pten'],
            // locus: ['2', '4', '8'],
            flanking: 7500,
            //locus: 'SLC25A3',
            locus: 'all',
            // locus: ['egfr', 'myc', 'pten'],
            // locus: ['2', '4', '8'],
            formats: {
                gwasSNPS: {
                    coords: 0,
                    chr: 0,
                    start: 1,
                    end: 2,
                    fields: ["chrom", "chromStart", "chromEnd", "Strongest SNP-risk allele", "Disease/Phenotype", "P-value", "Odds ratio or beta", "PUBMEDID"]
                }
            },
            tracks: [
            ]
        };

        browser = igv.createBrowser(div, options);

        refresh_eqtl_detail_tracks();
        // igv.browser.search("psphp1");

        igv.browser.on("trackremoved", function(e){
			refresh_eqtl_detail_tracks();
        });

        igv.browser.on("trackadded", function(e){
			refresh_eqtl_detail_tracks();
        });

    });


    </script>



	<script type="text/javascript">

	function cancel_file_picker(evt){
	    new_file = document.getElementById("new_file");
	    new_idxfile = document.getElementById("new_idxfile");
	    files = [new_file, new_idxfile]
	    for (i in files){
	        try{
	            files[i].value = '';
	            if(files[i].value){
	                files[i].type = "text";
	                files[i].type = "file";
	            }
	        }catch(e){}
	    }
	    var file_picker_modal = document.getElementById('filePicker');
	    file_picker_modal.style.display = "none";
	}

	function add_file_picker(evt){
	    new_file = document.getElementById("new_file");
	    new_idxfile = document.getElementById("new_idxfile");

	    track_data = {url: new_file.files[0]};
	    if (new_idxfile.value != ''){
	        track_data['indexURL'] = new_idxfile.files[0];
	    }

	    igv.browser.loadTrack(track_data);
	    cancel_file_picker(evt);
	}

	$(document).ready(function () {

		    // Get the modal
		var file_picker_modal = document.getElementById('filePicker');

		// Get the button that opens the modal
		var file_picker_modal_btn = document.getElementById("filePickerModalBtn");

		// Get the <span> element that closes the modal
		var close_file_picker = document.getElementsByClassName("close-filePicker")[0];


		document.getElementById('filePickerCancelBtn').addEventListener('click', cancel_file_picker, false);
		document.getElementById('filePickerAddBtn').addEventListener('click', add_file_picker, false);

		// When the user clicks on <close_file_picker> (x), close the modal
		close_file_picker.onclick = function() {
		    file_picker_modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == file_picker_modal) {
		        file_picker_modal.style.display = "none";
		    }
		}
	});
	</script>

    <style type="text/css">
        /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

/* The Close Button */
.close-filePicker {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.filePicker-title {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close-filePicker:hover,
.close-filePicker:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.PLT_ct_tag{
	color: #861B23;
	background-color: #D77078;
}

.CD4_ct_tag{
	color: #5E3003;
	background-color: #DDA873;
}

.CD8_ct_tag{
	color: #5E4F03;
	background-color: #DDCB73;
}

.CD14_ct_tag{
	color: #3F5903;
	background-color: #B2CF6D;
}

.MAC_ct_tag{
	color: #024B02;
	background-color: #5CB05C;
}

.CD15_ct_tag{
	color: #052A3C;
	background-color: #516F90;
}

.CD19_ct_tag{
	color: #160941;
	background-color: #665898;
}

    </style>
<!-- end IGV deps -->


</head>
<body>
 <div id="page-wrapper">

 	<header>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <!--navbar-fixed-top-->
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Blood eQTL browser</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tables<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#" id="tested_genes_menu" data-target="#tested_genes_table_cont" class="table_menuitem" text-content="Tested genes">Tested genes</a></li>
		            <li><a href="#" id="lead_eqtls_menu" data-target="#lead_table_cont" class="table_menuitem" text-content="Lead eQTL variants">Lead eQTL variants</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genome Browser<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#" id="load_file_menu" data-target="#filePicker" class="gb_menuitem" tabindex="-1">Load local file...</a></li>
		            <li class="divider"></li>
					  {% for cell_type in cell_types %}
					  <li><a href="#genome_browser" onclick="create_lead_track('{{ cell_type }}', 'merged')">{{ cell_type }} lead eQTLs</a></li>
					  {% endfor %}
		            <li class="divider"></li>
					  {% for cell_type in cell_types %}
					  <li><a href="#genome_browser" onclick="create_epi_tracks('{{ cell_type }}')">{{ cell_type }} epigenetic annotation</a></li>
                      {% endfor %}
		          </ul>
		        </li>
		        <li><a href="{{ host_path }}/about">Info</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
 	</header>





 <div id="tested_genes_table_cont">
  <h1>Tested genes</h1>
  <table id="tested_genes_table" data-toggle="table"
       data-url="{{ host_path }}/tested_probes"
       data-pagination="true"
       data-side-pagination="server"
       data-sort-name="variantId"
       data-toggle="table"
       data-filter-control="true"
       data-filter-show-clear="true">
    <thead>
    <tr>
    	<th data-field="cellType" data-searchable="true" data-sortable="true" data-filter-control="input">Cell type</th>
        <th data-field="probeId" data-searchable="true" data-sortable="true" data-filter-control="input">Probe ID</th>
        <th data-field="geneSymbol" data-searchable="true" data-sortable="true" data-filter-control="input">Gene symbol(s)</th>
    </tr>
    </thead>
    </table>
 </div>

<div id="lead_table_cont">
  <h1>Lead variants of eQTLs</h1>
  <table id="lead_table" data-toggle="table"
       data-url="{{ host_path }}/new_lead_table"
       data-pagination="true"
       data-side-pagination="server"
       data-row-style="rowStyle"
       data-sort-name="variantId"
       data-toggle="table"
	   data-show-columns="true"
       data-filter-control="true"
       data-filter-show-clear="true">
    <thead>
    <tr>
        <th data-formatter="lead_fn_formatter" data-width="90px"></th>
        <th data-field="cellType" data-searchable="true" data-sortable="true" data-filter-control="input">Cell type</th>
        <th data-field="chromosome" data-searchable="true" data-sortable="true" data-filter-control="input">Chr</th>
        <th data-field="geneSymbol" data-searchable="true" data-sortable="true" data-filter-control="input">Gene Symbol</th>
        <th data-field="variantId" data-searchable="true" data-sortable="true" data-filter-control="input" >Variant</th>
        <th data-field="snpId" data-searchable="true" data-sortable="true" data-filter-control="input">rs-id</th>
        <th data-field="pValue" data-searchable="true" data-sortable="true" data-filter-control="input" data-formatter="round_nicely" data-visible="false">p-Value</th>
        <th data-field="beta" data-searchable="true" data-sortable="true" data-filter-control="input" data-formatter="round_nicely">Effect size</th>
        <th data-field="maf" data-searchable="true" data-sortable="true" data-filter-control="input" data-formatter="round_nicely" data-visible="false">MAF</th>
		<th data-field="fdr" data-searchable="true" data-sortable="true" data-filter-control="input" data-formatter="round_nicely">FDR</th>
		<th data-field="fwdIter" data-searchable="true" data-sortable="true" data-filter-control="input">Indep. sig.</th>
		<th data-field="start" data-searchable="true" data-sortable="true" data-filter-control="input">Position</th>
        <th data-field="probeId" data-searchable="true" data-sortable="true" data-filter-control="input" data-visible="false">Probe ID</th>
    </tr>
    </thead>
    </table>
 </div>


	<h1 id="genome_browser">Genome browser</h1>
	<!-- The Modal -->
	<div id="filePicker" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close-filePicker">&times;</span>
	      <h1 class="filePicker-title">Add file...</h1>
	      <br /><br /><br /><br />
	        <p>Select input file: <input type="file" id="new_file" name="files[]" /></p>
	        <p>If this file has an index file (.idx, .bai, ...) select it here: <input type="file" id="new_idxfile" name="files[]" /></p>
	      <button id="filePickerCancelBtn">Cancel</button>
	      <button id="filePickerAddBtn">Add</button>
	  </div>

	</div>

	<div id="igv_div" style="padding-top: 50px;padding-bottom: 20px; height: auto"></div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130776744-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130776744-1');
</script>

</body>
</html>
