<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>blood eQTL browser</title>



    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- IGV CSS -->
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8089/igvdir/css/igv.css">

    <!-- Dev CSS -->
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8089/igvdir/dev/css/dev.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8089/igvdir/vendor/fa-svg-with-js.css"/>

    <!-- Vendor JS -->
    <script src="http://127.0.0.1:8089/igvdir/vendor/jquery-1.12.4.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/jquery-ui.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/jquery.mousewheel.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/underscore.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/promise.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/vendor/zlib_and_gzip.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/inflate.js"></script>

    <!-- IGV JS -->
    <script src="http://127.0.0.1:8089/igvdir/js/igv-icons.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/session/igvXmlSession.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/mergedTrack.js"></script>


    <script src="http://127.0.0.1:8089/igvdir/js/bam/coverageMap.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamReaderNonIndexed.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bgzf.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamSource.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamAlignment.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamAlignmentRow.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamIndex.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/alignmentContainer.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/pairedAlignment.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamUtils.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/bamWebserviceReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/htsgetReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bam/alignmentBlock.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/bigQuery/ccp.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/bigwig/bufferedReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bigwig/bwReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/bigwig/bwSource.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/encode/encodeDataSource.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureCache.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/gffHelper.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureSource.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureParsers.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/tribble.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureFileReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/customServiceReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/aneuSource.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/aneuTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/wigTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/featureUtils.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/segParser.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/segTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/feature/dataWrapper.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/ga4gh/ga4ghAlignmentReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ga4gh/ga4ghVariantReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ga4gh/ga4ghHelper.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ga4gh/googleUtils.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/gtex/eqtlTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/gtex/gtexFileReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/gtex/gtexReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/gtex/gtex.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/gtex/immvarReader.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/eqtl/bloodEqtlTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/eqtl/eqtlReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/eqtl/bloodSignalEqtlTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/eqtl/bloodSignalEqtlReader.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/gwas/t2dVariantSource.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/gwas/gwasTrack.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/karyo/karyo.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/oauth/google.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/tdf/tdfReader.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/tdf/tdfSource.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/ui/trackMenuPopupDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/dataRangeDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/inputDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/trackRemovalDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/alertDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/cursorGuide.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/centerGuide.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/trackLabelControl.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/userFeedback.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/alertDialog.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/popover.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/chromosomeSelectWidget.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/variant/vcfParser.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/variant/variant.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/variant/variantTrack.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/sampleInformation.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/igv-create.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/browser.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ideogram.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/windowSizePanel.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/referenceFrame.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/igv-canvas.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/genome.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/trackView.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/viewport.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/rulerTrack.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/rulerSweeper.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/igv-math.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/igv-color.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/igv-utils.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/parseUtils.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/fasta.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/sequenceTrack.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/igv-exts.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/igvxhr.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/binary.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/intervalTree.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/trackCore.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/ui/fileLoadWidget.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/set.js"></script>

    <script src="http://127.0.0.1:8089/igvdir/js/roi.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/js/roiSource.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/tdigest.js"></script>
    <script src="http://127.0.0.1:8089/igvdir/vendor/rbtree.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

    igv_eqtl_baseurl = 'http://127.0.0.1:{{ port }}/';
    table_ajax_url = igv_eqtl_baseurl;


    create_track = function(variant, probeId, fwdIter, cellType){
        igv.browser.loadTrack({
                         type: 'bloodsignaleqtl',
                         sourceType: 'bloodsignaleqtl',
                         url: igv_eqtl_baseurl,
                         queryVarId:variant,
                         queryProbeId:probeId,
                         fwdIter:fwdIter,
                         name: cellType+' eqtl',
                         });
    };

    create_track_alert = function(variant, probeId, fwdIter, cellType){
        alert([variant, probeId, fwdIter, cellType]);
    };

    </script>

    <script>
    $(document).ready(function() {
    $('#table_id').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": table_ajax_url+"lead_table",
        "columnDefs": [ {
            "targets": '_all',
            "render": function ( data, type, row, meta ) {
                variant = row[{{ var_id_col }}];
                probeId = row[{{ probe_id_col }}];
                fwdIter = row[{{ fwd_iter_col }}];
                cellType = row[{{ cell_type_col }}];
              return '<div onclick="create_track_alert(\''+variant+'\', \''+probeId+'\', \''+fwdIter+'\', \''+cellType+'\')">'+data+'</div>';
            }
          } ]
        } );
    } );
    </script>


    <script type="text/javascript">

    $(document).ready(function () {

        var div,
                options,
                browser;

        div = $("#igv_div")[0];
        options = {
            genome: "hg19",
            showNavigation: true,
            fastaURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/hg19.fasta',
            cytobandURL: 'https://s3.amazonaws.com/igv.broadinstitute.org/genomes/seq/hg19/cytoBand.txt',
            // locus: 'SLC25A3',
            locus: 'rs28372744',
            // locus: ['egfr', 'myc', 'pten'],
            // locus: ['2', '4', '8'],
            flanking: 7500,
            //locus: 'SLC25A3',
            locus: 'chr1:241461541-249250621',
            // locus: ['egfr', 'myc', 'pten'],
            // locus: ['2', '4', '8'],
            formats: {
                gwasSNPS: {
                    coords: 0,
                    chr: 0,
                    start: 1,
                    end: 2,
                    fields: ["chrom", "chromStart", "chromEnd", "Strongest SNP-risk allele", "Disease/Phenotype", "P-value", "Odds ratio or beta", "PUBMEDID"]
                }
            },
            tracks: [
                {
                     type: 'bloodeqtl',
                     sourceType: 'bloodeqtl',
                     url: igv_eqtl_baseurl,
                     dataset: 'CD14',
                     name: 'CD14 blood eQTL data',
                },
                {
                    featureType: 'genes',
                    url: 'http://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed',
                    name: 'Genes',
                    order: 10000,
                    displayMode: 'EXPANDED',
                    height: 100,
                    autoHeight: true,
                    removable: false,
                    labelDisplayMode: 'SLANT'
                }
            ]
        };

        browser = igv.createBrowser(div, options);



        // igv.browser.search("psphp1");
    });


    </script>
</head>
<body style="padding:50px 10px ">

<table id="table_id" class="display">
    <thead>
        <tr>
            {% for colname in colnames %}
            <th>{{ colname }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="igv_div" style="padding-top: 50px;padding-bottom: 20px; height: auto"></div>


</body>
</html>